<template>
  <div class="container">
    <a href="/" class="logo"><img src="~/assets/img/chab_logo.png" /></a>
    <nuxt-link
      v-if="state != 'scanning'"
      class="button button--secondary"
      :to="'/' + role"
      >⬅️ retour</nuxt-link
    >
    <a
      v-if="state == 'scanning'"
      class="button button--secondary pointer"
      @click="onStopScan"
    >
      ❌ éteindre la caméra
    </a>
    <moon-loader
      :loading="loading"
      class="center-content"
      :color="'black'"
    ></moon-loader>

    <template v-if="state == 'selectPresta'">
      <select id="prestataires" v-model="prestataire" name="prestataires">
        <option :value="null">-- Séléctionnez un prestataire --</option>
        <option v-for="presta in prestataires" :key="presta.id" :value="presta">
          {{ presta.label }}
        </option>
      </select>
      <span
        v-if="prestataire"
        class="button button--primary pointer"
        @click="onStartScan"
        >Scanner un billet</span
      >
    </template>
    <template v-if="state == 'scanning'">
      <span
        >Prestataire: <strong>{{ prestataire.label }}</strong></span
      >
      <div
        id="reader"
        ref="canvas"
        :key="readerStep"
        class="info"
        width="250px"
      >
        <moon-loader
          :loading="true"
          class="center-content"
          :color="'black'"
        ></moon-loader>
      </div>
    </template>
    <template v-if="state == 'showTicket'">
      <span
        >Prestataire: <strong>{{ prestataire.label }}</strong></span
      >
      <div id="info" class="info">
        <div class="info info--container">
          <div class="info info--code">{{ currentTicket.code }}</div>
          <div class="info info--value">
            Valeur: <strong>{{ currentTicket.value }}</strong>
          </div>
          <div class="info info--state">
            Statut:
            <strong v-if="currentTicket.state == 'idle'"
              >Inactif - En attente</strong
            >
            <strong v-if="currentTicket.state == 'active'"
              >En circulation</strong
            >
            <strong v-if="currentTicket.state == 'destroyed'"
              >Inactif - Détruit</strong
            >
          </div>
        </div>
      </div>
      <template v-if="currentTicket.state == 'active'">
        <div id="info" class="info">
          <div class="info info--container info--container--error">
            vérifier que le montant en &euro; perçu = montant retiré x taux de
            change
          </div>
        </div>

        <span
          class="button button--primary pointer"
          @click="setState(currentTicket, 'idle')"
          >Change contre euros</span
        >
      </template>
      <template v-if="currentTicket.state != 'active'">
        <div id="info" class="info">
          <div class="info info--container">
            Le billet n'est plus <strong>en circulation</strong>, vous ne pouvez
            donc plus faire du change
          </div>
        </div>
        <span class="button button--primary pointer" @click="onStartScan"
          >Scanner un autre billet</span
        >
      </template>
      <span class="button button--primary pointer" @click="onSelectPresta"
        >Changer de prestataire</span
      >
      <nuxt-link class="button button--secondary" to="emission"
        >Émission de billets ➡️</nuxt-link
      >
    </template>
    <template v-if="state == 'error-presta'">
      <div id="info" class="info">
        <div class="info info--container info--container--error">
          {{ error }}
        </div>
      </div>
    </template>
    <template v-if="state == 'error'">
      <div id="info" class="info">
        <div class="info info--container info--container--error">
          {{ error }}
        </div>
      </div>
      <span class="button button--primary pointer" @click="onStartScan"
        >Scanner un billet</span
      >
    </template>
  </div>
</template>

<script>
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
export default {
  components: {
    MoonLoader,
  },
  middleware: 'authenticated',
  props: {
    role: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      /**
       * current state of the page
       * @type {String}
       * @values start, selectPresta, scanning, loading, showTicket
       */
      state: 'start',
      currentTicket: null,
      loading: true,
      readerStep: 1,
      prestataires: [],
      prestataire: null,
      error: null,
    }
  },
  head() {
    return {
      script: [{ src: '/html5-qrcode.min.js' }],
    }
  },
  mounted() {
    this.$models
      .Prestataires()
      .cget()
      .then((prestataires) => {
        this.prestataires = prestataires
        this.onSelectPresta()
      })
      .catch((err) => {
        // eslint-disable-next-line  no-console
        console.error(err)
        this.error =
          "Nous n'avons pas réussi à charger la liste des prestataires"
        this.state = 'error-presta'
      })
      .finally(() => {
        this.loading = false
      })
  },
  methods: {
    onSelectPresta() {
      this.state = 'selectPresta'
    },
    onStopScan() {
      this.$qrcode.stopScan()
      this.onSelectPresta()
    },
    onStartScan() {
      this.readerStep++
      this.currentTicket = null
      this.state = 'scanning'
      setTimeout(() => {
        document
          .getElementById('reader')
          .scrollIntoView({ behavior: 'smooth', block: 'end' })
        this.$qrcode
          .askCamera()
          .then((stream) => {
            this.canvasElement = this.$refs.canvas
            this.$qrcode.startScan(this.onCodeFound, 'reader', stream)
          })
          .catch((err) => {
            this.error =
              "Une erreur est survenue lors de l'initialisation de la caméra"
            // eslint-disable-next-line  no-console
            console.error(err)
            this.state = 'error'
          })
      })
    },
    onCodeFound(code) {
      this.$qrcode.stopScan()
      const ticketCode = code.replace(
        'https://monnaie-chablais.fr/liste-des-prestataires-',
        ''
      )
      this.onLoadTicketInfo(ticketCode)
    },
    onLoadTicketInfo(ticketCode) {
      this.state = 'loading'
      this.loading = true
      this.$models
        .Tickets()
        .get(ticketCode)
        .then((data) => {
          this.onShowTicket(data)
        })
        .catch((err) => {
          // eslint-disable-next-line  no-console
          console.error(err)
          this.error = "Nous n'avons pas réussi à charger ce billet"
          this.state = 'error'
        })
        .finally(() => {
          this.loading = false
        })
    },
    onShowTicket(ticket) {
      this.loading = false
      this.currentTicket = ticket
      this.state = 'showTicket'
      setTimeout(() => {
        document
          .getElementById('info')
          .scrollIntoView({ behavior: 'smooth', block: 'start' })
      })
    },
    setState(ticket, state) {
      this.state = 'loading'
      this.loading = true
      this.$models
        .Tickets()
        .changeState(ticket.code, state, {
          label: 'state change',
          action: 'change contre euros',
          user: localStorage.name,
          prestataire: this.prestataire,
        })
        .then((data) => {
          this.onLoadTicketInfo(ticket.code)
        })
        .catch((err) => {
          // eslint-disable-next-line  no-console
          console.error(err)
          this.error = "Nous n'avons pas réussi à changer l'état du billet"
          this.state = 'error'
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
}
</script>
