<template>
  <div class="container">
    <a href="/" class="logo"><img src="~/assets/img/chab_logo.png" /></a>
    <nuxt-link
      v-if="state != 'scanning'"
      class="button button--secondary"
      :to="'/' + role"
      >⬅️ retour</nuxt-link
    >
    <a
      v-if="state == 'scanning'"
      class="button button--secondary pointer"
      @click="onStopScan"
    >
      ❌ éteindre la caméra
    </a>
    <moon-loader
      :loading="loading"
      class="center-content"
      :color="'black'"
    ></moon-loader>

    <template v-if="state == 'start'">
      <span class="button button--primary pointer" @click="onStartScan"
        >Scanner un billet</span
      >
    </template>
    <template v-if="state == 'scanning'">
      <div
        id="reader"
        ref="canvas"
        :key="readerStep"
        class="info"
        width="250px"
      >
        <moon-loader
          :loading="true"
          class="center-content"
          :color="'black'"
        ></moon-loader>
      </div>
    </template>
    <template v-if="state == 'showTicket'">
      <div id="info" class="info">
        <div class="info info--container">
          <div class="info info--code">{{ currentTicket.code }}</div>
          <div class="info info--value">
            Valeur: <strong>{{ currentTicket.value }}</strong>
          </div>
          <div class="info info--state">
            Statut:
            <strong v-if="currentTicket.state == 'idle'"
              >Inactif - En attente</strong
            >
            <strong v-if="currentTicket.state == 'active'"
              >En circulation</strong
            >
            <strong v-if="currentTicket.state == 'destroyed'"
              >Inactif - Détruit</strong
            >
          </div>
        </div>
      </div>
      <template v-if="currentTicket.state == 'idle'">
        <span
          class="button button--primary pointer"
          @click="setState(currentTicket, 'active')"
          >Activer le ticket</span
        >
      </template>
      <template v-else>
        <span>
          <div id="info" class="info">
            <div class="info info--container">
              Le ticket n'est plus <strong>en attente</strong>, vous ne pouvez
              donc plus le mettre en circulation
            </div>
          </div>
        </span>
        <span class="button button--primary pointer" @click="onStartScan"
          >Scanner un autre billet</span
        >
      </template>
    </template>
    <template v-if="state == 'error'">
      <div id="info" class="info">
        <div class="info info--container info--container--error">
          {{ error }}
        </div>
      </div>
      <span class="button button--primary pointer" @click="onStartScan"
        >Scanner un billet</span
      >
    </template>
  </div>
</template>

<script>
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
export default {
  components: {
    MoonLoader,
  },
  middleware: 'authenticated',
  props: {
    role: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      /**
       * current state of the page
       * @type {String}
       * @values start, scanning, loading, showTicket
       */
      state: 'start',
      currentTicket: null,
      loading: false,
      readerStep: 1,
      error: null,
    }
  },
  head() {
    return {
      script: [{ src: '/html5-qrcode.min.js' }],
    }
  },
  methods: {
    onStopScan() {
      this.$qrcode.stopScan()
      this.state = 'start'
    },
    onStartScan() {
      this.readerStep++
      this.currentTicket = null
      this.state = 'scanning'
      setTimeout(() => {
        document
          .getElementById('reader')
          .scrollIntoView({ behavior: 'smooth', block: 'end' })
        this.$qrcode
          .askCamera()
          .then((stream) => {
            this.canvasElement = this.$refs.canvas
            this.$qrcode.startScan(this.onCodeFound, 'reader', stream)
          })
          .catch((err) => {
            this.error =
              "Une erreur est survenue lors de l'initialisation de la caméra"
            // eslint-disable-next-line  no-console
            console.error(err)
            this.state = 'error'
          })
      })
    },
    onCodeFound(code) {
      this.$qrcode.stopScan()
      const ticketCode = code.replace(
        'https://monnaie-chablais.fr/liste-des-prestataires-',
        ''
      )
      this.onLoadTicketInfo(ticketCode)
    },
    onLoadTicketInfo(ticketCode) {
      this.state = 'loading'
      this.loading = true
      this.$models
        .Tickets()
        .get(ticketCode)
        .then((data) => {
          this.onShowTicket(data)
        })
        .catch((err) => {
          // eslint-disable-next-line  no-console
          console.error(err)
          this.error = "Nous n'avons pas réussi à charger ce billet"
          this.state = 'error'
        })
        .finally(() => {
          this.loading = false
        })
    },
    onShowTicket(ticket) {
      this.loading = false
      this.currentTicket = ticket
      this.state = 'showTicket'
      setTimeout(() => {
        document
          .getElementById('info')
          .scrollIntoView({ behavior: 'smooth', block: 'start' })
      })
    },
    setState(ticket, state) {
      this.state = 'loading'
      this.loading = true
      this.$models
        .Tickets()
        .changeState(ticket.code, state, {
          label: 'state change',
          action: 'émission de billets',
          user: localStorage.name,
        })
        .then((data) => {
          this.onLoadTicketInfo(ticket.code)
        })
        .catch((err) => {
          // eslint-disable-next-line  no-console
          console.error(err)
          this.error = "Nous n'avons pas réussi à changer l'état du billet"
          this.state = 'error'
        })
        .finally(() => {
          this.loading = false
        })
    },
  },
}
</script>
