<template>
  <section>
    <div class="container">
      <a class="logo" href="/"><img src="~/assets/img/chab_logo.png" /></a>
      <ul>
        <nuxt-link
          class="button button--primary"
          to="/reports/state_changes"
          tag="li"
          >Statistiques sur les tickets
        </nuxt-link>
      </ul>
    </div>
    <small>Version {{ $config.version }}</small>
  </section>
</template>
