<template>
  <section>
    <div class="container">
      <div class="info">
        <h1>Nombre de billets qui ont changé d'état</h1>
        <p></p>
      </div>
      <div class="calendar">
        <label for="du">Du</label>
        <v-date-picker
          v-if="startDate"
          id="du"
          v-model="startDate"
          @input="onDateChange"
        />
        <span>à 00:00:00</span>
      </div>
      <div class="calendar">
        <label for="au">au</label>
        <v-date-picker id="au" v-model="endDate" @input="onDateChange" />
        <span>à 23:59:59</span>
      </div>
      <div class="select">
        <label for="user">(optionnel) Filtrer par utilisateur</label>
        <v-select
          v-model="user"
          name="user"
          :options="users"
          @input="onDateChange"
        ></v-select>
      </div>
      <div class="select">
        <label for="presta">(optionnel) Filtrer par préstataire</label>
        <v-select
          v-model="presta"
          name="presta"
          :options="prestas"
          @input="onDateChange"
        ></v-select>
      </div>

      <div class="stats">
        <moon-loader
          :class="{ hidden: !loading }"
          :loading="on"
          class="center-content"
          :color="'black'"
        ></moon-loader>
        <section :class="{ hidden: loading }">
          <div
            v-for="(stat, statIdx) in stats"
            :key="statIdx"
            class="table--by-state"
          >
            <div class="table--state">
              <h2>{{ stat.state }}</h2>
              <div class="table--count">
                {{ stat.ticket_count }} billet{{
                  stat.ticket_count > 1 ? 's' : ''
                }}
              </div>
            </div>
            <table>
              <tr>
                <td>Valeur des billets</td>
                <td
                  v-for="(byStat, byStatIdx) in stat.by_state[stat.state]"
                  :key="byStatIdx"
                >
                  <strong>{{ byStat.value }}</strong>
                </td>
              </tr>
              <tr>
                <td>Nombre de billets</td>
                <td
                  v-for="(byStat, byStatIdx) in stat.by_state[stat.state]"
                  :key="byStatIdx"
                >
                  <strong>{{ byStat.ticket_count }}</strong>
                </td>
              </tr>
            </table>
            <div class="table--count">
              Somme totale: <strong>{{ stat.sum }}</strong>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</template>
<script>
import 'vue-select/dist/vue-select.css'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
export default {
  components: {
    MoonLoader,
  },
  data() {
    return {
      startDate: new Date(),
      endDate: new Date(),
      stats: null,
      timeout: null,
      loading: true,
      on: true,
      user: null,
      presta: null,
      currentUser: null,
      currentPresta: null,
      allUsers: [],
      allPrestas: [],
      users: [],
      prestas: [],
      hasChangedDateWithFilters: false,
    }
  },
  created() {
    // on initialise la startDate à y'a 8 jours
    this.startDate.setDate(new Date().getDate() - 7)
    // on initialise la endDate à hier
    this.endDate.setDate(new Date().getDate() - 1)
  },
  mounted() {
    this.onDateChange()
  },
  methods: {
    onDateChange() {
      this.loading = true
      if (this.timeout) {
        clearTimeout(this.timeout)
      }
      this.timeout = setTimeout(this.debouncedDateChange, 200)
    },
    debouncedDateChange() {
      this.$models
        .Logs()
        .getStateChanges(
          this.startDate.toISOString().split('T')[0],
          this.endDate.toISOString().split('T')[0],
          this.user,
          this.presta
        )
        .then((stats) => {
          this.stats = stats.data

          if (this.currentPresta !== this.presta) {
            this.users = stats.meta.users.slice()
            if (!this.presta) {
              this.users = this.allUsers.slice()
              if (this.hasChangedDateWithFilters) {
                this.prestas = this.allPrestas.slice()
              }
            }
            this.loading = false
          } else if (this.currentUser !== this.user) {
            this.prestas = stats.meta.prestataires.slice()
            if (!this.user) {
              this.prestas = this.allPrestas.slice()
              if (this.hasChangedDateWithFilters) {
                this.users = this.allUsers.slice()
              }
            }
            this.loading = false
          } else if (this.user || this.presta) {
            this.hasChangedDateWithFilters = true
            this.$models
              .Logs()
              .getStateChanges(
                this.startDate.toISOString().split('T')[0],
                this.endDate.toISOString().split('T')[0]
              )
              .then((fullStats) => {
                this.users = stats.meta.users
                this.allUsers = fullStats.meta.users
                this.prestas = stats.meta.prestataires
                this.allPrestas = fullStats.meta.prestataires
                this.loading = false
              })
          } else {
            this.hasChangedDateWithFilters = false
            this.users = stats.meta.users
            this.allUsers = stats.meta.users
            this.prestas = stats.meta.prestataires
            this.allPrestas = stats.meta.prestataires
            this.loading = false
          }

          this.currentUser = this.user ? this.user : null
          this.currentPresta = this.presta ? this.presta : null
        })
    },
  },
}
</script>
<style>
.container {
  grid-template-areas:
    'i i'
    '. .'
    '. .'
    's s';
  grid-template-columns: repeat(2, 250px);
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  margin: auto;
}

@media screen and (max-width: calc(500px + 4em)) {
  .container {
    grid-template-areas:
      'i'
      '.'
      '.'
      's';
    grid-template-columns: repeat(1, 250px);
  }
}

.calendars {
  display: flex;
  flex-direction: row;
}
.calendar {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.stats {
  grid-area: s;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1em;
  border-top: 1px lightgray solid;
}
.table--count {
  font-weight: bold;
  padding-left: 1em;
}
.hidden {
  visibility: hidden;
}
.info {
  grid-area: i;
}
.table--by-state {
  padding-bottom: 1em;
}
td {
  padding-right: 1em;
}
</style>
