<template>
  <div>
    <div v-if="name" class="user">
      <span>{{ name }} ({{ role }})</span>
      <span class="user--disconnect pointer" @click="disconnect">X</span>
    </div>
    <Nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      name: null,
      role: null,
    }
  },
  mounted() {
    setTimeout(() => {
      this.$eventBus.$on('connect', this.onConnect)
    })
    this.onConnect()
  },
  methods: {
    onConnect() {
      this.name = localStorage.name
      this.role = localStorage.role
    },
    disconnect() {
      localStorage.name = ''
      localStorage.role = ''
      localStorage.token = ''
      this.name = null
      this.role = null
      this.$router.push({ path: '/login' })
    },
  },
}
</script>
<style>
html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.font--external {
  font-family: 'Cousine', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.button {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid;
  text-decoration: none;
  padding: 10px 30px;
  cursor: pointer;
}

.button.button--primary {
  border-color: #302e2d;
  background-color: #fcda16;
  color: #302e2d;
}

.button.button--primary:hover {
  color: #fcda16;
  background-color: #302e2d;
}

.button.button--secondary {
  border-color: #302e2d;
  color: #302e2d;
}

.button.button--secondary:hover {
  color: #fff;
  background-color: #302e2d;
}

.container {
  margin: 0 auto;
  margin-right: 1em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: minmax(150px, 400px) 250px;
  grid-auto-rows: max-content;
  min-height: 100vh;
  height: 100%;
  align-content: center;
  grid-row-gap: 1em;
}

.logo {
  max-width: 100%;
  grid-row: 1 / 8;
}

.center-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#reader {
  width: 250px;
  min-height: 50vh;
}

.info--container {
  border: 1px black solid;
  padding: 1em;
  border-radius: 4px;
}

.info--container--error {
  border-color: red;
}

.info--code {
  font-weight: bold;
  font-size: 1.5em;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 1em;
  padding-top: 1em;
}

.user .user--disconnect {
  padding-left: 0.5em;
}

@media only screen and (max-width: 400px) {
  .container {
    grid-template-columns: minmax(0, 500px);
    margin-left: 1em;
    min-height: auto;
  }
}
</style>
