<template>
  <section>
    <div class="container">
      <a class="logo" href="/"><img src="~/assets/img/chab_logo.png" /></a>
      <nuxt-link class="button button--primary" to="/bc"
        >Banque Centrale</nuxt-link
      >
      <nuxt-link class="button button--primary" to="/comptoir"
        >Comptoir
      </nuxt-link>
    </div>
    <small>Version {{ $config.version }}</small>
  </section>
</template>
<script>
export default {
  middleware: 'authenticated',
  data() {
    return {
      randomTicket: null,
    }
  },
}
</script>
