<template>
  <section>
    <div class="container">
      <a class="logo" href="/"><img src="~/assets/img/chab_logo.png" /></a>
      <nuxt-link class="button button--primary" to="/bc/verifier"
        >Vérifier un billet</nuxt-link
      >
      <nuxt-link class="button button--primary" to="/bc/emission"
        >Émission de billets</nuxt-link
      >
      <nuxt-link class="button button--primary" to="/bc/change"
        >Change contre euros
      </nuxt-link>
      <nuxt-link class="button button--primary" to="/bc/monnaie"
        >Faire de la monnaie
      </nuxt-link>
      <nuxt-link class="button button--primary" to="/bc/replace"
        >Remplacement de billets trop usés
      </nuxt-link>
      <!-- http://chart.apis.google.com/chart?cht=qr&chs=500x500&choe=UTF-8&chld=H&chl=https://monnaie-chablais.fr/liste-des-prestataires-LYIB3TCE -->
      <!--       <a
        v-if="randomTicket"
        :href="
          'http://chart.apis.google.com/chart?cht=qr&chs=500x500&choe=UTF-8&chld=H&chl=https://monnaie-chablais.fr/liste-des-prestataires-' +
          randomTicket.code
        "
        target="_blank"
        rel="noopener noreferrer"
        class="button button--secondary font--external"
      >
        Exemple de ticket à scanner
      </a> -->
      <!-- <nuxt-link class="button button--secondary" to="/"
        >⬅️ Choix du rôle</nuxt-link
      > -->
    </div>
  </section>
</template>
<script>
export default {
  middleware: 'authenticated',
  data() {
    return {
      randomTicket: null,
    }
  },
  mounted() {
    this.$models
      .Tickets()
      .get('random')
      .then((ticket) => {
        this.randomTicket = ticket
      })
  },
}
</script>
