<template>
  <section>
    <form class="container" @submit.prevent="onLogin">
      <a class="logo" href="/"><img src="~/assets/img/chab_logo.png" /></a>
      <div class="field">
        <label for="login">Identifiant</label>
        <input id="login" v-model="login" name="login" type="text" />
      </div>
      <div class="field">
        <label for="password">Mot de passe</label>
        <input
          id="password"
          v-model="password"
          name="password"
          type="password"
        />
      </div>
      <button class="button button--primary pointer">Connexion</button>
      <a href="https://monnaie-chablais.fr/wp-login.php?action=lostpassword"
        >Mot de passe oublié</a
      >
    </form>
    <small>Version {{ $config.version }}</small>
  </section>
</template>
<script>
export default {
  data() {
    return {
      login: null,
      password: null,
    }
  },
  methods: {
    onLogin() {
      this.$models
        .Login()
        .post(this.login, this.password)
        .then((data) => {
          localStorage.token = data.token
          localStorage.name = data.name
          localStorage.role = data.role
          this.$eventBus.$emit('connect')
          if (data.role === 'bc' || data.role === 'comptoir') {
            this.$router.push({ path: '/' + data.role })
          } else {
            alert(
              "Le role de l'utlisateur " +
                data.name +
                " n'est ni BC ni COMPTOIR"
            )
          }
        })
        .catch((err) => {
          alert("L'utilisateur n'a pas été reconnu: " + err.message)
        })
    },
  },
}
</script>
<style>
.field label {
  float: left;
}
.field input {
  width: 100%;
}
</style>
